@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for a more modern look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
  /* slate-800 */
}

::-webkit-scrollbar-thumb {
  background: #475569;
  /* slate-600 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
  /* slate-500 */
}
